.tagContainer {
  display: flex;
  align-items: center;
  height: 7%;
  background-color: #fff;
  border-bottom: 3px solid #f0f2f5;
}

.tag {
  cursor: pointer;
}
.icon {
  padding: 0 7px;
  color: #dfdfdf;
}
